<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="content">
    <h1>Weather App</h1>
    <div class="">
      <hr>
      <form action="/api/v1/weather" method="GET">
        <div>
          <label for="coord">Enter coordinates:</label>
          <input type="text" id="lat" name="coord" placeholder="35.9126, 14.4786">
        </div>
        <div>
          <label for="city">Enter city:</label>
          <input type="text" id="city" name="city">
        </div>
        <div class="submit">
          <button type="submit">Get Weather</button>
        </div>
      </form>
    </div>
    <hr>
    <div class="weather-info">
      <% if (locals.weather) { %>
        
        <div class="temp"> <%- weather.temperature.temp %>째</div>
        <div class="city"><%- weather.city %></div>
        <% for( let index = 0; index < weather.weather.length; index++ ) { %>
          <div class="weather">
            <img src="<%- weather.weather[index].url %>" alt="">
            
            <p><%- weather.weather[index].main %></p>
          </div>
        <% } %>
        
        <div class="temperature">
          <div>
            <p class="unit"><%- weather.temperature.feels_like %>째</p>
            <p>Real Feel</p>
          </div>
          <div>
            <p class="unit"><%- weather.temperature.temp_min %>째</p>
            <p>Min temperature</p>
          </div>
          <div>
            <p class="unit"><%- weather.temperature.temp_max %>째</p>
            <p>Max temperature</p>
          </div>
        </div>
        <div class="humwincloud">
          <div>
            <p class="unit"><%- weather.temperature.humidity %>%</p>
            <p>Humidity</p>
          </div>
          <div>
            <p class="unit"><%- weather.wind %>m/s</p>
            <p>Wind</p>
          </div>
          <div>
            <p class="unit"><%- weather.clouds %>%</p>
            <p>Clouds</p>
          </div>
        </div>  
      <% } else if (isSearch) { %>
        <p>No hay resultados en la consulta</p>
      <% } %>
    </div>
  </div>
</body>
</html>